
/$RECYCLE.BIN
com.apple.recovery.boot/BaseSystem.chunklist
com.apple.recovery.boot/BaseSystem.dmg
/System Volume Information
EFI/OC/config_backup.plist
.fseventsd/fseventsd-uuid
*.backup
/.Spotlight-V100
/.Trashes
.DS_Store